<div id="application">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/" class="navbar-brand">{{title}}</a>
        <span class="ml-auto"><i class="material-icons">view_week</i><i class="material-icons">more_vert</i></span>
    </nav>
    <div id="patient-details">
        <img id="details-pic" src="{{details.person_pic}}" alt="details-pic">
        <table id="details-details">
            <tr><td>PID</td>        <td>{{details.person_pid}}</td></tr>
            <tr><td>Name</td>       <td>{{details.person_full_name}}</td></tr>
            <tr><td>Gender</td>     <td>{{details.person_gender}}</td></tr>
            <tr><td>Age</td>        <td>{{details.person_age}}</td></tr>
            <tr><td>DOB</td>        <td>{{details.person_dob | date}}</td></tr>
            <tr><td>Phone</td>      <td>{{details.person_phone}}</td></tr>
            <tr><td>S/O</td>        <td>{{details.person_relation}}</td></tr>
            <tr><td>Email</td>      <td>{{details.person_email}}</td></tr>
            <tr><td>Occupation</td> <td>{{details.person_occupation}}</td></tr>
            <tr><td>Address</td>    <td>{{details.person_address}}</td></tr>
        </table>
    </div>
</div>