<!-- 
<div id="patient-details">
    <img id="patient-pic" src="{{patient.person_pic}}" alt="patient-pic">
    <table id="patient-details">
        <tr><td>PID</td>        <td>{{patient.person_pid}}</td></tr>
        <tr><td>Name</td>       <td>{{patient.person_full_name}}</td></tr>
        <tr><td>Gender</td>     <td>{{patient.person_gender}}</td></tr>
        <tr><td>Age</td>        <td>{{patient.person_age}}</td></tr>
        <tr><td>DOB</td>        <td>{{patient.person_dob | date}}</td></tr>
        <tr><td>Phone</td>      <td>{{patient.person_phone}}</td></tr>
        <tr><td>S/O</td>        <td>{{patient.person_relation}}</td></tr>
        <tr><td>Email</td>      <td>{{patient.person_email}}</td></tr>
        <tr><td>Occupation</td> <td>{{patient.person_occupation}}</td></tr>
        <tr><td>Address</td>    <td>{{patient.person_address}}</td></tr>
    </table>
</div>
 -->

 <div id="patient-details">
    <img src="" alt="patient-pic" id="patient-pic">
    <table id="patient-details">
        <tr><td style="width: 20em;">PID</td>        <td>Hello</td></tr>
        <tr><td>Name</td>       <td>Hello2</td></tr>
        <tr><td>Gender</td>     <td></td></tr>
        <tr><td>Age</td>        <td></td></tr>
        <tr><td>DOB</td>        <td></td></tr>
        <tr><td>Phone</td>      <td></td></tr>
        <tr><td>S/O</td>        <td></td></tr>
        <tr><td>Email</td>      <td></td></tr>
        <tr><td>Occu<pation</td> <td></td></tr>
        <tr><td>Address</td>    <td></td></tr>
    </table>
</div>